<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TR.BIDSid_SerCon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BIDSid_SerCon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TR.BIDSid_SerCon.Properties.Settings>
            <setting name="COMPortName" serializeAs="String">
                <value>COM0</value>
            </setting>
            <setting name="BaudRateNum" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DTRSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTSSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDTRSettingDefault" serializeAs="String">
                <value>False</value>
            </setting>
        </TR.BIDSid_SerCon.Properties.Settings>
        <BIDSid_SerCon.Properties.Settings>
            <setting name="COMPortName" serializeAs="String">
                <value>COM0</value>
            </setting>
            <setting name="BaudRateNum" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DTRSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTSSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDTRSettingDefault" serializeAs="String">
                <value>False</value>
            </setting>
        </BIDSid_SerCon.Properties.Settings>
    </userSettings>
</configuration>